.App {
  text-align: center;
}


.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn button {
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: blue;
    color: #fff;
    font-size: 1em;
}

 .cardMedia {
        margin: auto;
    }
 .cardContent {
        textAlign: center;
    }